

{% for post in posts | reverse %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ post.data.title }}</span>
    <h6>{{ post.data.description }}</h6>
    <p class="post-meta"><i class="material-icons md-light md-18">date_range</i>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </p>
  </div>
  <div class="card-action">
    <a href="{{ post.url }}">Read more</a>
  </div>
</div>
{% endfor %}
