@import "materialize.scss";

html {
	scroll-behavior: smooth;

  @media only screen and (min-width: 0) {
    scroll-padding-top: 56px;
  }

  @media only screen and (min-width: $medium-screen) {
    scroll-padding-top: 64px;
  }
}

img {
  width: 100%;
}

#logo-container {
  img {
    height: 1.96em;
  }
}

.navbar-fixed {
  position: absolute;
}

#navbar {
  background-color: color('grey', 'darken-4');
  box-shadow: none;
  transition: 1s;
}

#index-banner {
  height: 100vh;
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 3.56rem;
  }
  h3 {
    font-size: 2.92rem;
  }
  h4 {
    font-size: 2.28rem;
  }
  h4 {
    font-size: 1.64rem;
  }
  h4 {
    font-size: 1.15rem;
  }

  .section {
    padding-top: calc(1rem + 100px);
    width: 100%;
  }
}

ul.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;

  li {
    padding: 0 9px;
  }
}

ul.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 4px;
  }
}

.post-meta {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .date {
    flex: 1 0 auto;
  }

  .tag {
    min-width: 3rem;
    padding: 0 6px;
    margin: 0 0 4px 4px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 22px;
    height: 22px;
    float: right;
    box-sizing: border-box;
    font-weight: 300;
    color: #fff;
    background-color: $secondary-color;
    border-radius: 2px;
    white-space: nowrap;
  }
}

.parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,0.9);

  img {
    width: auto;
    opacity: 0.5 !important;
  }
}

/* Rules for sizing the icon. */
.material-icons {
  vertical-align:text-bottom;

  &.md-18 { font-size: 18px; }
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }
  &.md-96 { font-size: 96px; }

  /* Rules for using icons as black on a light background. */
  &.md-dark {
    color: rgba(0, 0, 0, 0.54);
    &.md-inactive { color: rgba(0, 0, 0, 0.26); }
  }

  /* Rules for using icons as white on a dark background. */
  &.md-light {
    color: rgba(255, 255, 255, 1);
    &.md-inactive { color: rgba(255, 255, 255, 0.3); }
  }
}

/* Rules for sizing the icon. */
.fab {
  vertical-align: bottom;
  font-size: 18px;

  /* Rules for using icons as black on a light background. */
  &.fa-dark {
    color: #000;
  }

  /* Rules for using icons as white on a dark background. */
  &.fa-light {
    color: #fff;
  }
}
