---
layout: layouts/base.njk
title: Uche Mennel
permalink: /
---
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center">Plan B</h1>
      <div class="row center">
        <h5 class="header col s12 light">Sharing my Legacy.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="section scrollfix" id="blog">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        {% set posts = collections.posts | head(-5) %}
        {% include "posts.njk" %}
      </div>
    </div>

    {% if collections.posts.length > 5 %}
    <div class="row center-align">
      <a href="{{ '/archive/blog/' | url }}" class="btn-large waves-effect waves-light grey darken-2">
        <i class="material-icons right">expand_more</i>
        Older posts
      </a>
    </div>
    {% endif %}
  </div>
</div>

<div class="parallax-container" id="about">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h4>About Me</h4>
        <h5 class="header col s12 light">Programmer. Mentor. Dad.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="images/background1.jpg" alt="Unsplashed background img 2"></div>
</div>
